<!-- author: Tilak K Chudasama
     file name: experience.html
     file description: This page takes user input of their experience in the industry to apply for the job application.
    -->

<include href="views/header.html"></include>
<!--header end-->

<!-- Navbar -->
<nav class="navbar navbar-expand-xl navbar-dark bg-transparent py-4">
    <div class="container-fluid">
        <!-- Brand name -->
        <a class="navbar-brand px-3 fs-1" href="home">AppTrackerHQ</a>
    </div>
</nav>
<!-- Navbar End -->


<section class="registration">
    <div class="mask d-flex align-items-center  gradient-custom">
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-12  col-lg-9 col-xl-7">
                    <div class="card">
                        <div class="card-body p-4 p-md-5">
                            <h3>Experience</h3>
                            <p class="mb-4 pb-2 reqStatement">"*" Fields are Required.</p>

                            <form action="#" method="POST">

                                <div class="row">
                                    <div class="col-12 mb-4">
                                        <div class="form-outline">
                                            <textarea id="biography" name="biography" class="form-control" rows="5"></textarea>
                                            <label class="form-label" for="biography">Biography</label>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-4">
                                        <div class="form-outline">
                                            <input type="text" name="githubLink" id="githubLink" class="form-control" value="" placeholder="https://www.github.com/ENTER USERNAME">
                                            <label class="form-label" for="githubLink">GitHub Link</label>
                                            <check if="{{ isset(@errors['githubLink']) }}">
                                                <span class="err">{{ @errors['githubLink'] }}</span>
                                            </check>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-4">
                                        <h6 class=" required mb-3">Years of Experience</h6>
                                        <repeat group="{{@experiences}}" value="{{@experiences}}">
                                                <label><input type="radio" name="experience[]" value="{{ @experiences }}"> {{ ucfirst(@experiences) }}</label><br>
                                        </repeat>
                                        <check if="{{ isset(@errors['experience']) }}">
                                            <span class="err">{{ @errors['experience'] }}</span>
                                        </check>


                                    </div>
                                    <div class="col-12 mb-4">
                                        <h6 class="mb-3">Willing to Relocate</h6>
                                        <div>
                                            <input type="radio" id="yes" name="relocate" value="yes">
                                            <label for="yes">Yes</label>
                                        </div>
                                        <div>
                                            <input type="radio" id="no" name="relocate" value="no">
                                            <label for="no">No</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="mt-4">
                                            <input class="btn btn-info btn-lg" type="submit" value="Next >" />
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



</body>
</html>