<include href="views/header.html"></include>
<!--header end-->


<!-- Navbar -->
<nav class="navbar navbar-expand-xl navbar-dark bg-transparent py-4">
    <div class="container-fluid">
        <!-- Brand name -->
        <a class="navbar-brand px-3 fs-1" href="#">AppTrackerHQ</a>
        <!-- Toggler button for responsive design -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- Home page link -->
                <li class="nav-item px-3">
                    <a class="nav-link active fs-4" aria-current="page" target="_self" href="/GreenRiverDev/328/application">Home</a>
                </li>
                <!-- Apply Now button -->
                <li class="px-3">
                    <a class="btn btn-primary btn-lg btn-apply-now" href="personalInfo">Apply Now!</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar End -->

<!-- Overall container -->
<div class="container-fluid pt-5">
    <div class="row">
        <!-- Left column div -->
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 homepagediv">
            <div class="text-center p-2">
                <!-- Introduction to the job -->
                <h1>About The Job</h1>
                <p>Join our dynamic team at Faang, a leading innovator in the tech industry. We leverage data-driven insights to revolutionize business operations, fostering creativity and continuous learning.
                    <br>We're seeking a talented Data Analyst to interpret data, analyze results, and drive key business decisions. You'll collaborate with cross-functional teams to identify trends, create visualizations, and develop actionable recommendations.</p>
            </div>
            <div class="text-center p-2">
                    <!--Job details saction-->
                <h1>More About Job</h1>
                <p>Collect and analyze large datasets, develop dashboards and reports, collaborate with stakeholders to understand business requirements, identify opportunities for process improvement, and present findings to senior management.</p><br>
                <h3>Qualifications Required:</h3> <p>
                Bachelor's degree in Computer Science, Statistics, Mathematics, or related field, proven experience in data analysis and visualization using Python, R, SQL, or Tableau, strong analytical skills, excellent communication and presentation skills, ability to work independently and collaboratively.</p>
            </div>
            <div class="text-center p-2">
                <!-- Testimonials & team information -->
                <h1>Our Talented Team</h1>
                <p>At Faang, our people are our greatest asset. Beyond their professional excellence, our team members bring diverse backgrounds and interests, enriching our work environment. Here's what some team members say:
                </p>
                <p class="pquotes">
                    "The level of collaboration and support within our team is amazing. Everyone is passionate about what they do, and it shows in the quality of our work." - John, Senior Data Scientist<br>

                    "Faang's commitment to innovation is remarkable. We're constantly pushing the boundaries and exploring new technologies to stay ahead." - Sarah, Data Engineer

                </p>
                <p>
                    <br>Join our talented team at Faang and shape the future of technology and data analytics. Apply now to make your mark!</p>
            </div>
            <!-- Apply Now button at the end -->
            <div class="text-center">
                <a class="btn btn-primary btn-lg btn-apply-now secondbutton" href="personalInfo">Apply Now!</a>
            </div>

        </div>
        <!-- Right column for the image -->
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 text-end">
            <!-- Image of a programmer -->
            <img src="images/programmingguy.png" alt="An intern programming with his back faced to the camera." class=" mainimg ">
        </div>
    </div>
</div>

</body>
</html>