<!-- author: Tilak K Chudasama
    file name: jobOpenings.html
    file description: This page takes user input of their preference in mailing list.
-->

<include href="views/header.html"></include>

<!-- Navbar -->
<nav class="navbar navbar-expand-xl navbar-dark bg-transparent py-4">
    <div class="container-fluid">
        <!-- Brand name -->
        <a class="navbar-brand px-3 fs-1" href="home">AppTrackerHQ</a>
    </div>
</nav>
<!-- Navbar End -->

<section class="registration">
    <div class="mask d-flex align-items-center gradient-custom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card">
                        <div class="card-body p-4 p-md-5">
                            <h3>Job Openings Mailing List</h3>
                            <p class="mb-4 pb-2 reqStatement">"*" Fields are Required.</p>

                            <form action="#" method="POST">
                                <div class="row">
                                    <div class="col-12 mb-4">
                                        <h6 class="mb-3">Software Development Jobs</h6>
                                        <repeat group="{{ @mailingList }}" value="{{ @mailingLists }}">
                                            <input type="checkbox" id="{{ @mailingLists }}" name="listLang[]" value="{{ @mailingLists }}">
                                            <label for="{{ @mailingLists }}">{{ ucfirst(@mailingLists) }}</label><br>
                                        </repeat>
                                        <check if="{{ isset(@errors['languages']) }}">
                                            <span class="err">{{ @errors['languages'] }}</span>
                                        </check>
                                    </div>
                                    <div class="col-12 mb-4">
                                        <h6 class="mb-3">Industry Verticals</h6>
                                        <repeat group="{{ @mailingListVerticals }}" value="{{ @mailingListVerticalss }}">
                                            <input type="checkbox" id="{{ @mailingListVerticalss }}" name="listVerticals[]" value="{{ @mailingListVerticalss }}">
                                            <label for="{{ @mailingListVerticalss }}">{{ ucfirst(@mailingListVerticalss) }}</label><br>
                                        </repeat>
                                        <check if="{{ isset(@errors['verticals']) }}">
                                            <span class="err">{{ @errors['verticals'] }}</span>
                                        </check>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="mt-4">
                                            <input class="btn btn-info btn-lg" type="submit" value="Next >" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
