<include href="views/header.html"></include>


<!-- Navbar -->
<nav class="navbar navbar-expand-xl navbar-dark bg-transparent py-4">
    <div class="container-fluid">
        <!-- Brand name -->
        <a class="navbar-brand px-3 fs-1" href="home">AppTrackerHQ</a>
    </div>
</nav>
<!-- Navbar End -->


<section class="registration">
    <div class="mask d-flex align-items-center  gradient-custom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2">Job Openings Mailing List</h3>

                            <form action="#" method="POST">

                                <div class="row">
                                    <div class="col-12 mb-4">
                                        <h6 class="mb-3">Software Development Jobs</h6>
                                        <div>
                                            <input type="checkbox" id="java" name="languages[]" value="java">
                                            <label for="java">Java</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="python" name="languages[]" value="python">
                                            <label for="python">Python</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="javascript" name="languages[]" value="javascript">
                                            <label for="javascript">JavaScript</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="html" name="languages[]" value="html">
                                            <label for="html">HTML</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="CSS" name="languages[]" value="CSS">
                                            <label for="CSS">CSS</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="ReactJS" name="languages[]" value="ReactJS">
                                            <label for="ReactJS">ReactJS</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="PHP" name="languages[]" value="PHP">
                                            <label for="PHP">PHP</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="Node.js" name="languages[]" value="Node.js">
                                            <label for="Node.js">Node.js</label>
                                        </div>


                                    </div>
                                    <div class="col-12 mb-4">
                                        <h6 class="mb-3">Industry Verticals</h6>
                                        <div>
                                            <input type="checkbox" id="SaaS" name="verticals[]" value="SaaS">
                                            <label for="SaaS">Finance</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="healthTech" name="verticals[]" value="healthTech">
                                            <label for="healthTech">Healthcare</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="AgTech" name="verticals[]" value="AgTech">
                                            <label for="AgTech">Technology</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="HRTech" name="verticals[]" value="HRTech">
                                            <label for="HRTech">Finance</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="industrialTech" name="verticals[]" value="industrialTech">
                                            <label for="industrialTech">Healthcare</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="cybersec" name="verticals[]" value="cybersec">
                                            <label for="cybersec">Technology</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="mt-4">
                                            <input class="btn btn-info btn-lg" type="submit" value="Next >" />
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>