<!-- author: Tilak K Chudasama
    file name: personalInfo.html
    file description: This page takes user input of their personal information to apply for the job application.
    -->

<include href="views/header.html"></include>
<!--header end-->

<!-- Navbar -->
<nav class="navbar navbar-expand-xl navbar-dark bg-transparent py-4">
    <div class="container-fluid">
        <!-- Brand name -->
        <a class="navbar-brand px-3 fs-1" href="home">AppTrackerHQ</a>
    </div>
</nav>
<!-- Navbar End -->


<section class="registration">
    <div class="mask d-flex  align-items-center  gradient-custom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card">
                        <div class="card-body p-4 p-md-5">
                            <h3>Personal Info</h3>
                            <p class="mb-4 pb-2 reqStatement">"*" Fields are Required.</p>

                            <form action="#" method="POST">

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="firstName" name="firstName" class="form-control" />
                                            <label class="required form-label" for="firstName">First Name</label>
                                            <check if="{{ isset(@errors['firstName']) }}">
                                                <span class="err">{{ @errors['firstName'] }}</span>
                                            </check>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" name="lastName" id="lastName" class="form-control" />
                                            <label class="required form-label" for="lastName">Last Name</label>
                                            <check if="{{ isset(@errors['lastName']) }}">
                                                <span class="err">{{ @errors['lastName'] }}</span>
                                            </check>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" name="emailAddress" id="emailAddress" class="form-control" />
                                            <label class="required form-label" for="emailAddress">Email</label>
                                            <check if="{{ isset(@errors['emailAddress']) }}">
                                                <span class="err">{{ @errors['emailAddress'] }}</span>
                                            </check>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="tel" name="phoneNumber" id="phoneNumber" class="form-control" />
                                            <label class="required form-label" for="phoneNumber">Phone Number</label>
                                            <check if="{{ isset(@errors['phoneNumber']) }}">
                                                <span class="err">{{ @errors['phoneNumber'] }}</span>
                                            </check>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <label for="state"><h6 class="mb-3">State</h6></label>
                                        <select id="state" name="state" class="form-select">
                                            <option value="wa">Washington</option>
                                            <option value="or">Oregon</option>
                                            <option value="id">Idaho</option>
                                            <option value="ak">Alaska</option>
                                            <option value="mt">Montana</option>
                                        </select>
                                        <check if="{{ isset(@errors['state']) }}">
                                            <span class="err">{{ @errors['state'] }}</span>
                                        </check>
                                        <div class="mt-4">
                                            <input class="btn btn-info btn-lg" type="submit" value="Next >" />
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>