<!-- author: Tilak K Chudasama
    file name: summary.html
    file description: This page shows a summary of all the user input/selected information awaiting final confirmation.
    -->

<include href="views/header.html"></include>


<!-- Navbar -->
<nav class="navbar navbar-expand-xl navbar-dark bg-transparent py-4">
    <div class="container-fluid">
        <!-- Brand name -->
        <a class="navbar-brand px-3 fs-1" href="home">AppTrackerHQ</a>
    </div>
</nav>
<!-- Navbar End -->

<!-- Container box -->
<section class="summary">
    <div class="mask d-flex align-items-center gradient-custom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2">Summary</h3>

<!--                        Personal information section-->
                            <div class="summary-section mb-4">
                                <h5 class="mb-3">Personal Information</h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <strong>First Name:</strong> {{ @SESSION.firstName }} <!-- using this to display all the session stored data. -->
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Last Name:</strong> {{ @SESSION.lastName }}
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <strong>Email Address:</strong> {{ @SESSION.emailAddress }}
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Phone Number:</strong> {{ @SESSION.phoneNumber }}
                                    </div>
                                    <div class="col-md-6">
                                        <strong>State:</strong> {{ @SESSION.state }}
                                    </div>
                                </div>
                            </div>

<!--                        Expereince Section -->
                            <div class="summary-section mb-4">
                                <h5 class="mb-3">Experience</h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <strong>Biography:</strong> {{ @SESSION.biography }}
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Github Link:</strong> {{ @SESSION.githubLink }}
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Experience:</strong> {{ @SESSION.experience }} years
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Willing to Relocate:</strong> {{ @SESSION.relocate }}
                                    </div>
                                </div>
                            </div>

<!--                        Mailing list selection section -->
                            <div class="summary-section">
                                <h5 class="mb-3">Mailing List Selected</h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <strong>Software Development Jobs:</strong> {{ implode(', ', @SESSION.languages) }}
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Industry Verticals:</strong> {{ implode(', ', @SESSION.verticals) }}
                                    </div>
                                </div>
                            </div>

                            <div class="mt-4">
                                <a href="#" class="btn btn-success btn-lg">Submit</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



</body>
</html>