.navbar-brand {
    font-family: "Mukta" ;

}


body {
    background-image: url("../images/background.png");
    background-size: cover;
}



.btn-apply-now {
    background-color: #000053; !important;
    border-color: #1c1c84; !important;
}
.homepagediv > div > h1 {
    font-family: Georgia;
    font-weight: bold;

    border-bottom: 2px dotted black;

}

h3 {
    font-family: Georgia;
    font-weight: bold;

}

p{
    font-family: Candara;
    font-size: 18px;
    font-weight: bold;


}

.pquotes {
    text-indent: 10px;
    font-style: italic;
    border-top: 2px dotted black;
    border-bottom: 2px dotted black;

}

.mainimg{

    border-radius: 20px;
    max-width: 90%; !important;
    height: auto;
    padding: 10px;
}

.secondbutton {
    margin-bottom: 5px;
}

.required::after {
    content: "*";
    color: red;
    margin-left: 5px;
}

.reqStatement {
    text-decoration: gray;
    color: red;
    font-style: italic;
    font-size: smaller;
}

.err {
    color: red;
    font-style: italic;
}
